<footer>
    <section class="section-footer">
        <div class="div-footer">
            <div class="tarjetas">
                <h4>Pagos</h4>
                <div class="cards">
                    <img src="/img/visa.png" alt="">
                    <img src="/img/mastercard.png" alt="">
                    <img src="/img/paypal.png" alt="">
                    <img src="/img/banelco.png" alt="">
                    <img src="/img/tarjeta-naranja.png" alt="">
                    <img src="/img/mercadopago.png" alt="">
                    <img src="/img/pagofacil.png" alt="">
                    <img src="/img/rapipago.png" alt="">
                    <img src="/img/oca.png" alt="">
                </div>
            </div>
            <div class="atajo">
                <h4>Menú</h4>
                <a href="/">INICIO</a>
                <a href="/products">PRODUCTOS</a>
                <a href="/redes">REDES</a>
                <a href="">PREGUNTAS FRECUENTES</a>
            </div>
            <div class="sede">
                <h4>Contactános</h4>
                <p>ventas@venenojujuy.com.ar</p>
                <p>Lavalle Nº154, San Salvador de Jujuy, Argentina</p>
            </div>
            <div class="seguinos">
                <h4>Seguinos en</h4>
                <div class="redes">
                    <a href="https://www.facebook.com/venenoArgentina/" target="_blank"><img src="/img/facebook.png"
                            alt=""></a>
                    <a href="https://www.instagram.com/venenoargentinadh/" target="_blank"><img src="/img/instagram.png" alt=""></a>
                    <a href="#"><img src="/img/twitter.png" alt="" target="_blank"></a>
                </div>
            </div>
        </div>
    </section>
    <div class="div-copyrigth">
        <strong class="copyrigth">&copy; 2023 Veneno | Todos los derechos reservados</strong>
    </div>
</footer>