<div class="nav">
    <img src="img/veneno-logo-oficial.jpeg" alt="Logo-Veneno">
    <div class="nav-secciones">
        <a href="/">Home</a>
        <a href="http://localhost:4200/productDetail">Productos</a>
        <a href="">Armá tu outfit</a>
        <a href="">Exclusividad Clientes VIP</a>
        <a href="">Indumentaria Mundial</a>
        <a href="">Redes</a>
        <a href="">Preguntas Frecuentes</a>
    </div>
    <div class="nav-search-carrito-usuario">
        <form action="">
            <input type="text" placeholder="Buscar">
            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: rgb(145, 209, 7)"></i></button>
        </form>
        <a href="http://localhost:4200/productCart"><i class="fa-solid fa-cart-plus"></i></a>
        <a href=""><i class="fa-solid fa-circle-user"></i></a>
    </div>
</div>