<div class="nav">
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <div class="nav-img">
<<<<<<< HEAD
        <img src="img/logoVeneno2.png" alt="Logo-Veneno" class="logo">
    </div>
    <div class="nav-secciones">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li> <a href="/productDetail">Productos</a></li>
            <li><a href="">Armá tu outfit</a></li>
            <li><a href="">Exclusividad Clientes VIP</a></li>
            <li><a href="">Indumentaria Mundial</a></li>
            <li><a href="">Redes</a></li>
            <li><a href="">Preguntas Frecuentes</a></li>
        </ul>
    </div>
    <div class="nav-search">
        <form action="" class="barra-search">
            <input type="text" placeholder="Buscar...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: rgb(145, 209, 7)"></i></button>
        </form>
       
    </div>
    <div class="nav-carrito-usuario">
        <a href="/productCart"><i class="fa-solid fa-cart-plus"></i></a>
=======
        <a href="/">
            <img src="/img/veneno-logo-oficial.jpeg" alt="Logo-Veneno">
        </a>
    </div>
    <div class="nav-secciones">
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
        <a href="#">Armá tu outfit</a>
        <a href="#">Exclusividad Clientes VIP</a>
        <a href="#">Indumentaria Mundial</a>
        <a href="#">Redes</a>
        <a href="#">Preguntas Frecuentes</a>
    </div>
    <div class="nav-search-carrito-usuario">
        <form action="/search" method="GET">
            <input type="text" name="search" placeholder="Buscar">
            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: rgb(145, 209, 7)"></i></button>
        </form>
        <a href="/products/productCart"><i class="fa-solid fa-cart-plus"></i></a>
>>>>>>> bbcd432748900c22fd002bbb4ec39c1307185232
        <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
    </div>
    
</div>