<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Formulario de Productos</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/registerStyle.css">
</head>

<body>

    <%- include('./partials/header') %>

    <main>
        <div class="form-container">
            <h2>Formulario de Creación de Productos</h2>
            <form action="/products" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nombre">Nombre del Producto:</label>
                    <input type="text" id="nombre" name="nombre" required placeholder="Ingrese Nombre del Producto">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" required placeholder="Ingrese Descripción del producto"></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Precio del Producto:</label>
                    <input type="number" id="price" name="precio" required placeholder="Ingrese precio del Producto">
                </div>
                <div class="form-group">
                    <label for="imagen">Imagen del Producto:</label>
                    <input type="file" id= "imagen" name="imagen" required accept="image/*">
                </div>
                <div class="form-group">
                    <label for="reverse">Imagen Dorso del Producto:</label>
                    <input type="file" id="reverse" name="reverse" required accept="image/*"> 
                </div>
                <div class="form-group">
                    <label for="cantidad">Stock del Producto:</label>
                    <input type="number" id="cantidad" name="cantidad" required placeholder="Ingrese Stock del Producto">
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria del Producto:</label>
                    <input type="text" id="categoria" name="categoria" required placeholder="Ingrese Categoria">
                </div>
                <div class="form-group">
                    <label for="genero">Género:</label>
                    <input type="text" id="genero" name="genero" required placeholder="Ingrese Género">
                </div>
                <div class="form-group">
                    <label for="oferta">Ofertado:</label>
                    <input type="text" id="oferta" name="oferta" required placeholder="Ingrese Oferta: true o false">
                </div>
                <div class="form-group">
                    <label for="descuento">Descuento:</label>
                    <input type="number" id="descuento" name="descuento" required placeholder="Ingrese descuento: 0 a 100">
                </div>
                <div class="form-group">
                    <button type="submit">Crear Producto</button>
                </div>
                <div class="form-group">
                    <input type="reset" value="Borrar">
                </div>
            </form>
        </div>
    </main>
    
    <%- include('./partials/footer') %>
</body>

</html>