<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="website icon" type="png" href="/img/logoEmpresa.png">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <a href="http://localhost:4200/">Home</a>
            <a href="http://localhost:4200/productDetail">Productos</a>
            <a href="">Armá tu outfit</a>
            <a href="">Exclusividad Clientes VIP</a>
            <a href="">Indumentaria Mundial</a>
            <a href="">Redes</a>
            <a href="">Preguntas Frecuentes</a>
            <img src="img/veneno-logo.jpeg" alt="Logo-Veneno">
            <input type="text">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a  href="http://localhost:4200/productCart"><i class="fa-solid fa-cart-plus"></i></a>
            <a href=""><i class="fa-solid fa-circle-user"></i></a>     
        </nav>
    </header>
    <main>
        <section class="section-div-anuncios">
            <div class="div-anuncios">
                <h2>Slider de mgs</h2>
                <div class="slider-frame">
                    <ul>
                        <li><img src="/img/img1Cuadro.jpg" alt=""></li>
                        <li><img src="/img/img2Cuadro.jpg" alt=""></li>
                        <li><img src="/img/img3Cuadro.jpg" alt=""></li>
                        <li><img src="/img/img4Cuadro.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section-caja-cuatro-prendas"></section>
        <section class="section-con-varios-articulos-en-exhibicion"></section>
    </main>
    <footer>
        <section class="section-footer">
            <div class="div-section-footer">
                <section class="section-tarjetas">

                </section>
                <section class="section-links-extras">

                </section>
                <section class="section-seguinos">

                </section>
            </div>
        </section>
        <div class="div-copyrigth">
            <strong class="copyrigth">2023 Veneno | Todos los derechos reservados</strong>
        </div>
    </footer>
</body>
</html>