<!DOCTYPE html>
<html lang="es">
<head>

    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/loginStyles.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Inicia Sesión</title>
</head>
<body>
    <header>
        <!-- <a href="/">
            <img src="/img/logoVeneno.png" alt="logo de la empresa"  class="logo">
        </a> -->
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <div class="form-login">
            <h1>Inicia Sesión</h1>
            <form action="/login"  method="post">
                <div class="correo-user">
                    <label for="correo">Correo electrónico </label>
                    <input type="email" id="correo" >
                </div>
                <div class="password">
                    <label for="contraseña">Contraseña</label>
                    <a href="">¿Olvidaste tu contraseña?</a>
                    <input type="password" id="contraseña">
                </div>
                <div class="container-button">
                    <button>Iniciar Sesión</button>
                </div>
                <div class="enlace-registro">

                    <p>¿Eres Nuevo?</p><a href="/register">Registrate</a>

                </div>
            </form>
        </div>
    </main>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>