<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head.ejs') %>
        <!-- <title>Detalles del Producto</title> -->
        <!-- <link rel="stylesheet" href="css/home.css"> -->
        <link rel="stylesheet" href="/css/productDetailStyles.css">

</head>

<body>

    <header>

        <%- include('./partials/header.ejs') %>

    </header>
    <form action="/productDetail" method="post">
    <!--  <section class="section-opcion-prendas">
        <div class="conteiner">
            <div class="div-opcion-prendas">
                <img src="img/remeraswebp.webp" alt="remeras">
                <div class="div-remeras">
                    <a href="/productDetail">REMERAS</a>
                </div>
            </div>
            <div class="div-opcion-prendas">
                <img src="img/camperas.webp" alt="camperas">
                <div class="div-camperas">
                    <a href="/productDetail">CAMPERAS</a>
                </div>
            </div>
            <div class="div-opcion-prendas">
                <img src="img/pantalon.webp" alt="jeans">
                <div class="div-jeans">
                    <a href="/productDetail">PANTALONES</a>
                </div>
            </div>
            <div class="div-opcion-prendas">
                <img src="img/accesorios.jpeg" alt="accesorios">
                <div class="div-accesorios">
                    <a href="/productDetail">ACCESORIOS</a>
                </div>
            </div>
        </div>
    </section> -->
    <div class="conteiner-tittle">Detalles del producto</div>
    <main>
        <!--    <nav id="imgs">
            <img src="img/img1Cuadro.jpg" alt="Imagen 1">
            <img src="img/img1Cuadro.jpg" alt="Imagen 3">
            <img src="img/img1Cuadro.jpg" alt="Imagen 2">
            <img src="img/img1Cuadro.jpg" alt="Imagen 4">
        </nav> --->

          <!--   <div class="conteiner-img">
                <img src="img/img1Cuadro.jpg" alt="Imagen 1">
            </div> -->

            <nav id="imgs"><img src="img/img1Cuadro.jpg" alt="Imagen 1"></nav>
            
            <div class="conteiner-info-product">
                <div class="conteiner-price">
                    <span>$5000.00</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>

                <div class="conteiner-detail-product">
                    <div class="form-group">
                        <label for="colour"> Seleccione un color</label>
                        <select name="colour" id="colour">
                            <option disabled selected value="">
                                Elegí una opción
                            </option>
                            <option value="rojo"> Rojo </option>
                            <option value="blanco"> Blanco </option>
                            <option value="beige"> Beige </option>
                            <option value="marron">Marrón</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="size"> Talles </label>
                        <select name="size" id="size">
                            <option disabled selected value="">
                                Elegí una opción
                            </option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>
                </div>
                    <div class="conteiner-add-cart">
                        <div class="conteiner-quantity">
                            <input type="number" placeholder="1" value="1" min="1" class="input-quatity" />
                            <div class="btn-incremet-decrement">
                                <i class="fa-solid fa-chevron-up" id="increment"></i>
                                <i class="fa-solid fa-chevron-down" id="decrement"></i>
                            </div>
                        </div>
                        <button class="btn-add-to-cart">
                            <i class="fa-solid fa-plus"></i>
                            Añadir al carrito
                        </button>
                    </div>

                    <div class="conteiner-description">
                        <div class="tittle-description">
                            <h4>Descripción</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="text-description hidden">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet illo, quibusdam sunt
                                cum
                                tempore laborum voluptatibus veritatis? Laborum quae dicta similique, obcaecati
                                voluptatem
                                repudiandae ipsa, voluptate, quisquam quibusdam maiores impedit. Lorem ipsum, dolor sit
                                amet
                                consectetur adipisicing elit. Nobis, dolores ullam maxime illo fugit earum nemo alias
                                porro
                                inventore deleniti. Sapiente ipsam officia doloremque distinctio corrupti quia quidem
                                quo
                                nulla?</p>
                        </div>
                    </div>
                    <div class="conteiner-info-additional">
                        <div class="tittle-info-additional">
                            <h4>Informacion Adicional</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="text-additional hidden">
                            <p>--------------</p>
                        </div>
                    </div>

                    <div class="conteiner-reviews">
                        <div class="tittle-reviews">
                            <h4>Reseñas</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="text-reviews hidden">
                            <p>--------------</p>
                        </div>
                    </div>

                    <div class="conteiner-social">
                        <span>Compartir</span>
                        <div class="conteiner-buttons-social">
                            <a href="a"><i class="fa-solid fa-envelope"></i></a>
                            <a href="a"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="a"><i class="fa-brands fa-twitter"></i></a>
                            <a href="a"><i class="fa-brands fa-instagram"></i></a>
                            <a href="a"><i class="fa-brands fa-pinterest"></i></a>
                        </div>
                    </div>

            </div>
        </main>
        <section class="related-product">
            <h2>Productos relacionados</h2>
            <div class="card-list-products">
                <div class="card">
                    <div class="card-img">
                        <img src="img\buzotopessential-mujer.webp" alt="producto-1"> 
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>NOMBRE DEL PRODUCTO</h3>
                            <P class="category">CATEGORIA DEL PRODUCTO</P>
                        </div>
                    </div>
                    <div class="price">$PRECIO DEL PRODUCTO</div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="img\camperatrackgrey-hombre.webp" alt="producto-2"> 
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>NOMBRE DEL PRODUCTO</h3>
                            <P class="category">CATEGORIA DEL PRODUCTO</P>
                        </div>
                    </div>
                    <div class="price">$PRECIO DEL PRODUCTO</div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="img\buzotopessential-mujer.webp" alt="producto-3"> 
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>NOMBRE DEL PRODUCTO</h3>
                            <P class="category">CATEGORIA DEL PRODUCTO</P>
                        </div>
                    </div>
                    <div class="price">$PRECIO DEL PRODUCTO</div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="img\buzobenight-hombre-.webp" alt="producto-4"> 
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>NOMBRE DEL PRODUCTO</h3>
                            <P class="category">CATEGORIA DEL PRODUCTO</P>
                        </div>
                    </div>
                    <div class="price">$PRECIO DEL PRODUCTO</div>
                </div>
            </div>
        </section>
        </form>
        
        <!-- <section id="detail">

                <article>
                    <h2>Descripción</h2>
                    <h3>TU NUEVO BUZO FAVORITO CON ESTILO RELAJADO PARA USO DIARIO.</h3>
                    <h4>
                        No existe tal cosa como tener demasiados buzos, aunque una vez que tenés este modelo veneno
                        en
                        tus
                        manos, los demás pasarán desapercibidos. El tejido de mezcla de algodón suave te envuelve en
                        comodidad y los detalles acanalados lo hacen aún más especial. El emblemático diseño Cultura
                        adorna
                        la espalda con un diseño en sombra para un look impactante.
                        Nuestros productos de algodón apoyan el cultivo de algodón sostenible.
                    </h4>


                </article>

                <article>
                    <h2>Cuidados</h2>
                    <h3>INSTRUCCIONES DE LAVADO</h3>
                    <h4>
                        <p>No usar blanqueador</p>
                        <p>No utillizar secadora</p>
                        <p>No lavar en seco</p>
                        <p>Planchar a temperatura baja</p>
                        <p>Lavar a máquina en temperatura fría</p>
                    </h4>

                    <h3>INFORMACIÓN ADICIONAL SOBRE EL CUIDADO</h3>
                    <h4>
                        <ul>
                            <li>No usar suavizante</li>
                            <li>Usar únicamente detergente suave</li>
                            <li>Lavar al revés con colores similares</li>
                            <li>No planchar estampado</li>
                        </ul>
                    </h4>
                </article>

            </section>

            <section id="options-client">
                <article>
                    <form action="/productDetail" method="post">
                        <div class="descripcion">
                            <p>
                            <h2>NOMBRE DEL PRODUCTO</h2>
                            </p>
                            <p>
                            <h3>$PRECIO</h3>
                            </p>

                            <label>
                                <h3>Seleccione un color</h3>
                            </label>

                            <select>
                                <option style="background-image:url('/img/img1Cuadro.jpg')" ;>rojo</option>
                                <option style="background-image:url('/img/img2Cuadro.jpg');">blanco</option>
                                <option style="background-image:url('/img/img3Cuadro.jpg');">others</option>
                            </select> -->
        <!--   <input type="radio" id="color-red" name="color" value="red" onclick="selectColor('red')"
                            required>
                        <label for="color-red" class="color-circle color-red">ROJO</label>

                        <input type="radio" id="color-blue" name="color" value="blue" onclick="selectColor('blue')"
                            required>
                        <label for="color-blue" class="color-circle color-blue"></label>

                        <input type="radio" id="color-green" name="color" value="green" onclick="selectColor('green')"
                            required>
                        <label for="color-green" class="color-circle color-green"></label>

                        <input type="radio" id="color-yellow" name="color" value="yellow"
                            onclick="selectColor('yellow')" required>
                        <label for="color-yellow" class="color-circle color-yellow"></label>

                        <input type="radio" id="color-purple" name="color" value="purple"
                            onclick="selectColor('purple')" required>
                        <label for="color-purple" class="color-circle color-purple"></label>-->
        <!-- </div>

                        <select id="colorSelect">
                            <option value="#FF0000" class="color-option">Rojo
                            </option>
                            <option value="#00FF00" class="color-option">Verde
                            </option>
                            <option value="#0000FF" class="color-option">Azul
                            </option>
                            <option value="#FFFF00" class="color-option">Amarillo
                            </option>
                            <option value="#FF00FF" class="color-option">Magenta
                            </option>
                            <option value="#00FFFF" class="color-option">Cian
                            </option>
                        </select>

                        <select id="talles" name="talles" required>
                            <label for="talles">
                                <h3>Talles</h3>
                            </label>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>

                        <div class="guia">
                            <p>
                            <h3> Guía de Talles </h3>
                            <img src="img/guiaTalles.jpg" alt="Imagen 3">
                            </p>

                        </div>

                        <div>
                            <input type="submit" value="Añadir al Carrito">
                        </div>

                        <div id="envio">
                            <p>
                            <h3>¡PAGA HASTA 3 CUOTAS SIN INTERÉS!</h3>
                            </p>
                            <p>
                            <h3>ENVIO GRATIS APARTIR DE $49.999</h3>
                            </p>
                            <p>
                            <h3>DEVOLUCIÓN GRATIS, ¿NO ES TU TALLE? PODES DEVOLVERLO EN UN PLAZO DE 20 DÍAS</h3>
                            </p>
                        </div>
                </article>
            </section> -->
    <!-- </main> -->

    <footer>
        <%- include('./partials/footer.ejs') %>

    </footer>

</body>

</html>