<!DOCTYPE html>
<html lang="es">
<head>

    <%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="/css/loginStyles.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Redes Sociales</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    <main>
        <div class="profile-container">
            <h1 style="text-align: center;">Visita Nuestras Redes Sociales</h1>
            <div>
                <a href="https://www.facebook.com/venenoArgentina/" target="_blank"><img src="/img/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/venenoargentinadh/" target="_blank"><img src="/img/instagram.png" alt=""></a>  
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>