*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    border-bottom: solid 1px  white;
}

.nav{
    background-color: #202020;
    width: 100%;
    padding: 15px 20px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.nav-img{
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 30px;
}

.nav-img a{
    display: flex;
    justify-content: center;
    margin-left: 35px;
}

.logo{
    
    width: 170px;
}

/* MENU HAMBURGUESA */

div.burger-menu{
    border: solid 2px #9bcf29;
    border-radius: 3px;
    margin-right: -10px;
    align-self: flex-start;
    margin-top: 10px;
}

div.burger-menu i{
    color: #9bcf29;
    padding: 3px;
}

/* ocultar enlaces */
.nav-secciones{
    display: none;
} 

.nav  a{
    text-decoration: none;
    color: white;
    padding-right: 25px; padding-left: 8px;
}

.nav ul{
    list-style: none;
}



/* BARRA DE BUSCAR */

.nav-search{
    margin: 10px 0;
}

.barra-search{
    display: flex;
    border-radius: 7px;
    background-color: white;
    margin-left: -10px;
}
.barra-search input{
    border: transparent;
    padding: 3px;
    border-radius: 10px;
    outline: none;
    font-size: medium;
    /*font-size: large;*/
}

.barra-search button{
    border: transparent;
    margin-left: -20px;
    border-radius: 5px;
    background-color: transparent;
}

/* ****************************** */

/* ICONO CARRITO Y USUARIO */
.nav-carrito-usuario{
    display: flex;
    margin-right: -20px;
}

.nav-carrito-usuario a{
    padding: 0 5px;
}

.nav-carrito-usuario a i{
    color: #9bcf29;
    font-size: 20px
}

.nav-secciones a:hover{
    color:rgb(145,209,7)
}
.nav-search form button i:hover, .nav-carrito-usuario a i:hover{
    filter: brightness(130%);
    cursor:pointer;
}


@media screen and (min-width: 455px) {
    .nav-img{
        flex-grow: 0;
    }

    div.burger-menu{
        align-self: center;
        margin-left: 48%;
        margin-bottom: 10px;
        order: 1;
    }

    .nav-img a{
        margin-left: -40px;
    }

    .barra-search{
        margin-left: -20px;
    }
}

@media screen and (min-width: 755px) {

    .nav-img{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    
    .nav-img a{
        display: flex;
        justify-content: center;
        margin: 0;
        padding-top: 20px;
    }

    div.burger-menu{
        margin-left: 0;
        margin-right: 20px;
        order: 0;
    }

    .barra-search input{
        font-size: large;
    }

    .nav-carrito-usuario a{
        padding: 0 10px;
    }

    .barra-search{
        margin: 0;
    }
    
}



/* Estilos para desktops (ancho mínimo 769px) */
@media screen and (min-width: 1024px) {

    .nav{
        justify-content: space-between;
        padding: 30px 20px;
    }

    .nav-img{
        margin: 0;
    }
    
    .nav-img a{
        padding: 0;
    }

    /* mostrar enlaces */
    .nav-secciones {
        display: flex;
        justify-content: space-between;
    }

    /* ocultar icono de menu hamburger */
    div.burger-menu{
        display: none;
    }

    .nav-secciones ul{
        display: flex;
        text-align: center;
    }

    .nav-secciones ul a{
        display: flex;
        flex-wrap: wrap;
    }

}