@import "header.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #202020;
}


/* ----Header---- */
/*
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    flex-wrap: wrap;
}
.nav-img a img{
    width: 200px;
    align-self: flex-start;
    justify-self: flex-start;
}
.nav-secciones{
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    padding-top: 20px;
}
.nav-secciones a{
    text-decoration: none;
    list-style-type: none;
    color: #fdfdfd;
    font-size: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    height: fit-content;
}
.nav-search-carrito-usuario{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 20px;
}
.nav-search-carrito-usuario a i{
    color: rgb(145, 209, 7);
    width: 40px;
    font-size: 23px;
    text-align: center;
    margin: 0 5px 0 5px;
}
.nav-search-carrito-usuario form input{
    font-size: 20px;
    background-color: #ffffff;
    border: none;
}
.nav-search-carrito-usuario form button{
    border: none;
    background-color: inherit;
}
.nav-search-carrito-usuario form button i{
    width: 40px;
    font-size: 23px;
} */

/* ----Main---- */


/* prueba del slider para las imagenes*/
main .section-div-anuncios{
    margin-bottom: 100px;
    display: none;
}
.slider-frame {
    width: 100%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    border:solid black 3px;
}
.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 12s infinite;
}
.slider-frame li {
    list-style: none;
    width: 100%;
}
.slider-frame img {
    width: 100%;
    height: 100%;
}
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}
/* prueba del slider para las imagenes*/

main{
    margin-bottom: 50px;
}
main .section-hombre-mujer{
    margin-top: 50px;
    margin-bottom: 50px;
}
main .div-hombre-mujer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
main .div-hombre-mujer a{
    width: 50%;
}
main .div-hombre-mujer a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




main .section-opcion-prendas{
    margin-bottom:100px;
}
main .conteiner{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main .div-opcion-prendas{
    width: 100%;
    height: 100%;
    margin: 1px 2px;
    position: relative;
}
main .div-opcion-prendas img{
    width: 100%;
    height: 100%; /*auto*/
    object-fit: cover;
    border: solid rgb(252, 239, 239);
    opacity: 75%;
}
main .div-opcion-prendas .prenda{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
}
main .div-opcion-prendas a{
    text-decoration: none;
    color:rgb(121, 255, 128);
}








main .div-busqueda{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px 150px;
}
main .resultado-busqueda{
    color:rgb(189, 185, 185);
    font-size: 2rem;
}
main .resultado-busqueda-nula{
    color:rgb(145,209,7)
}
main .articulos-en-ofertas{
    margin-bottom: -60px;
    text-align: center;
    color:rgb(189, 185, 185);
    font-size: 2rem;
}






/*Aquí estoy....*/

main .contenedor-de-articulos{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 180px;
    margin-right: 180px;
}
main .contenedor-de-articulos article{
    padding-bottom: 5px;
    border: solid black 3px;
    background-color: #e9e9e9;
    margin: 0 14px 30px;
}
main .contenedor-de-articulos article a img{
    width: 300px;
    height: 370px;
    border: solid white 2px;    
}
main .descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .descripcion p{
    font-size: 18px;
}
main .descuento{
    font-size: 15px;
    color:rgb(207, 18, 18);
}
main .descripcion .carrito{
    background-color: inherit;
    color: #000000;
    border: none;
    font-size: 20px;
    margin: 3px 0;
}
main .mas-informacion{
    text-decoration: none;
    color: rgb(134, 131, 131);
}




footer{
    border-top: solid white 1px ;
}
footer .div-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px;
}
footer .div-footer h4{
    color: rgb(128, 128, 128);
    margin-bottom: 10px;
    text-align: center;
}
footer .cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer .tarjetas h4{
    text-align: center;
}
footer .tarjetas img{
    width: 40px;
    height: 25px;
}
footer .atajo{
    display: flex;
    flex-direction: column;
}
footer .atajo h4{
    text-align: left;
}
footer .atajo a{
    font-size: 0.9rem;
    margin-bottom: 20px;
    color:white;
    text-decoration: none;
}
footer .sede p{
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
footer .seguinos h4{
    text-align: center; 
}
footer .seguinos a i{
    font-size: 30px;
}
footer .seguinos a img{
    width: 30px;
    object-fit: cover;
    margin: 10px 10px;
}
footer .redes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer .div-copyrigth{
    margin-top: 30px;
    text-align: center;
}
footer .copyrigth{
    color: white;
}




/*Estilos extras*/
.nav-secciones a:hover{
    color:rgb(145,209,7)
}
.nav-search-carrito-usuario form button i:hover, .nav-search-carrito-usuario a i:hover{
    filter: brightness(160%);
    cursor:pointer;
}
.div-hombre-mujer a:hover{
    filter: brightness(120%);
}
.div-opcion-prendas:hover{
    filter: brightness(150%);
    transition: 0.3s;
}
.seguinos img:hover{
    filter: brightness(160%);
    transition: 0.3s; 
}
.atajo a:hover{
    color:grey;
}
main .contenedor-de-articulos article:hover{
    filter: brightness(115%); 
}
.mas-informacion:hover{
    color:black;
}
.carrito i:hover{
    color: rgb(1, 184, 11);
    cursor: pointer;
}
main .prenda a:hover{
    text-decoration: underline;
}


/*
Media queries para dispositivos!

/* Estilos para tablets (ancho mínimo 361px) */
@media screen and (min-width: 768px) {
    main .section-div-anuncios{
        display: block;
    }
    main .section-hombre-mujer{
        margin-top: 0;
        margin-bottom: 100px;
    }
    main .div-opcion-prendas{
        width: 33%;
        margin: 2px 4px;
    }
}


@media screen and (min-width: 920px){
    main .div-hombre-mujer a{
        min-width: 25%;
        max-width: 35%;
    }
}


/* Estilos para desktops (ancho mínimo 769px) */
@media screen and (min-width: 1024px) {
    main .div-opcion-prendas{
        position: relative;
    }
    main .prenda{
        font-size: 2rem;
        letter-spacing: 15px;
    }
    /*
    main .div-opcion-prendas{
        padding: 2px;
        position: relative;
    }
    main .div-opcion-prendas img{
        width:650px;
        height: 650px;
        object-fit: cover;
        border: solid rgb(252, 239, 239) ;
    }
    main .div-remeras a, .div-camperas a, .div-jeans a, .div-accesorios a{
        text-decoration: none;
        color:rgb(121, 255, 128);
    }
    */
}