@import "header.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: #ffffff; */
}

body {
    background-color: #202020;
}


/* Cuerpo */

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
    border: 1px solid red;
}

section {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* Productos */

section #imgs {
    display: flex;
    align-items: center;
}

section #img img {
    width: 100%;
    margin: 0px;

}

section #detail {
    max-width: 60%;
    text-align: center;
    margin: 20px 0;

    justify-content: center;
}

article {
    align-content: center;
    border-radius: 2px;
    padding: 5px;
    border: 2px solid rgb(7, 214, 7);

    margin: 3px;

}

article h2 {
    color: #ffffff;
    text-align: center;
    font-style: normal;
    font-size: 20px;
}

article h3 {
    color: #ffffff;
    text-align: center;
    font-size: 17px;
}

/* Lateral de la Pagina */
.aside {
    background-color: #ffffff;
    color: #000000;
    max-width: 40%;
    text-align: center;
    padding: 2px;
}

.aside .detalle form * {
    margin: 2px;
    padding: 2px;
}

/* Estilo para la Guia de Talle */
.guia svg,
.guia p {
    display: inline-block;
    vertical-align: middle;
}

.envio {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Footer */

/* @import "footer.css"; */

footer {
    border-top: solid rgb(255, 255, 255) 1px;
}

footer .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 30px;
}

footer .div-footer h4 {
    color: rgb(128, 128, 128);
    margin-bottom: 10px;
}

footer .tarjetas h4 {
    text-align: center;
}

footer .tarjetas img {
    width: 40px;
    height: 25px;
}

footer .atajo {
    display: flex;
    flex-direction: column;
}

footer .atajo a {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
}

footer .sede p {
    color: white;
    margin-bottom: 15px;
}

footer .seguinos h4 {
    text-align: center;
}

footer .seguinos a i {
    font-size: 30px;
}

footer .seguinos a img {
    width: 30px;
    object-fit: cover;
    margin: 10px 10px;
}

footer .div-copyrigth {
    margin-top: 25px;
}

footer .copyrigth {
    color: white;
}


/* Estilos para tablets (ancho mínimo 361px) */
@media screen and (min-width: 768px) {
    .imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

      }
    
      /* Opcional: ajusta el tamaño de las imágenes según tus necesidades */
      .imgs img {
       /* width: 100%;  O ajusta el ancho deseado
        height: auto;*/
        width: 400px;
        height: 600px;
      }

}

/* Estilos para desktops (ancho mínimo 769px) */
@media screen and (min-width: 1024px) {}