* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body,
html {
  height: 100%;
}

/* Cabecera de Sección Carrito */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close {
  margin-right: auto; 
}

/* Prendas */

.prenda {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.nombrePrenda {
  display: flex;
}

.main-header{
  border-bottom: 1px solid grey;
}

img {
  width: 75px;
  margin-right: 10px;
}

#borrar {
  margin-left: auto; /* Desplaza el ícono de borrar a la derecha */
}

/* Cuerpo del Carrito */

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 /*  height: 100%; */
  padding: 10px;
}

/* Subtotal */

.productoSubtotal {
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex; 
  align-items: center; 
}

/* Estilo para el encabezado del subtotal */
.productoSubtotal h3 {
  font-size: 18px;
  margin: 0;
  flex: 1; 
}

/* Estilo para el precio sin envío */
#precioSinEnvio {
  font-size: 20px;
  font-weight: bold;
  margin: 5px; 
}


/* Sección Envío */

.envio{
  margin-top: 5px;
  padding: 5px;
}

.productoEnvio {
  margin-top: 5px;
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.productoEnvio svg {
  margin-right: 5px;
}

.productoEnvio input {
  margin-right: 5px;
  padding: 5px;
}

.productoEnvio button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productoEnvio a {
  margin-left: auto;
  color: #007bff;
  text-decoration: none;
}

/* Sección Regalo */

.productoRegalo {
  margin-top: 5px;
  border-bottom: 1px solid grey;
  padding: 10px;
  display: flex;
  align-items: center;
}

/* Pie de Sección Carrito */

.productoCompra {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.productoCompra button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.productoCompra button:last-child {
  background-color: #28a745; /* Color verde para el botón "Ver más Productos" */
}


/* Estilos para tablets (ancho mínimo 361px) */
@media screen and (min-width: 768px) {


}

/* Estilos para desktops (ancho mínimo 769px) */
@media screen and (min-width: 1024px) {
 

}