<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="/css/productDetailStyles.css">
    <link rel="website icon" type="png" href="/img/logoEmpresa.png">
</head>

<body>
    <header>

        <div class="nav">
            <img src="img/veneno-logo-oficial.jpeg" alt="Logo-Veneno">
            <div class="nav-secciones">
                <a href="http://localhost:4200/">Home</a>
                <a href="http://localhost:4200/productDetail">Productos</a>
                <a href="">Armá tu outfit</a>
                <a href="">Exclusividad Clientes VIP</a>
                <a href="">Indumentaria Mundial</a>
                <a href="">Redes</a>
                <a href="">Preguntas Frecuentes</a>
            </div>
            <div class="nav-search-carrito-usuario">
                <form action="">
                    <input type="text" placeholder="Buscar">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: rgb(145, 209, 7)"></i></button>
                </form>
                <a href="http://localhost:4200/productCart"><i class="fa-solid fa-cart-plus"></i></a>
                <a href=""><i class="fa-solid fa-circle-user"></i></a>
            </div>
        </div>

    </header>
    <main>
        <div class="main-imagenes">
            <div class="imgs">
                <img src="img/img1Cuadro.jpg" alt="Imagen 1">
                <img src="img/img1Cuadro.jpg" alt="Imagen 3">
                <img src="img/img1Cuadro.jpg" alt="Imagen 2">
                <img src="img/img1Cuadro.jpg" alt="Imagen 4">
            </div>
            <!--             <button id="nextBtn">Siguiente</button> -->
            <div class="opciones">
                <div class="dropdown">
                    <button>Descripcion</button>
                    <div class="dropdown-content">
                        <img src="img/guiaTalles.jpg" alt="Imagen 3">
                    </div>
                </div>

                <div class="dropdown">
                    <button>Cuidados</button>
                    <div class="dropdown-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis est non autem velit ipsa vitae
                        harum, corrupti voluptatem perspiciatis et repellat molestiae distinctio ut consequatur
                        consectetur optio voluptates praesentium? Quasi!
                    </div>
                </div>

                <div class="dropdown">
                    <button>Detalles</button>
                    <div class="dropdown-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus aspernatur reprehenderit
                        alias pariatur placeat distinctio dicta nesciunt porro deserunt unde? Ratione dignissimos totam
                        facere id eaque esse! Architecto, quod aliquid.
                    </div>
                </div>
            </div>
        </div>

        <div class="aside">
            <div class="detalle">

                <form action="/productDetail" method="post">
                    <div class="descripcion">
                        <!--    <label for="nombreProducto">Nombre del Producto:</label>
                        <input type="text" id="nombreProducto" name="nombreProducto" required>
                        <label for="precio">Precio:</label>
                        <input type="number" id="precio" name="precio" required>
 -->
                        <p>Nombre del Producto:</p>
                        <p>Precio: </p>
                        <label>Seleccione un color:</label>
                        <!-- <div class="color-selector">
                            <input type="radio" id="color-red" name="color" value="red" onclick="selectColor('red')"
                                required>
                            <label for="color-red" class="color-circle color-red"></label>

                            <input type="radio" id="color-blue" name="color" value="blue" onclick="selectColor('blue')"
                                required>
                            <label for="color-blue" class="color-circle color-blue"></label>

                            <input type="radio" id="color-green" name="color" value="green"
                                onclick="selectColor('green')" required>
                            <label for="color-green" class="color-circle color-green"></label>

                            <input type="radio" id="color-yellow" name="color" value="yellow"
                                onclick="selectColor('yellow')" required>
                            <label for="color-yellow" class="color-circle color-yellow"></label>

                            <input type="radio" id="color-purple" name="color" value="purple"
                                onclick="selectColor('purple')" required>
                            <label for="color-purple" class="color-circle color-purple"></label>
                        </div> -->

                        <select id="colorSelect">
                            <option value="#FF0000" class="color-option" style="background-color: #FF0000;">Rojo
                            </option>
                            <option value="#00FF00" class="color-option" style="background-color: #00FF00;">Verde
                            </option>
                            <option value="#0000FF" class="color-option" style="background-color: #0000FF;">Azul
                            </option>
                            <option value="#FFFF00" class="color-option" style="background-color: #FFFF00;">Amarillo
                            </option>
                            <option value="#FF00FF" class="color-option" style="background-color: #FF00FF;">Magenta
                            </option>
                            <option value="#00FFFF" class="color-option" style="background-color: #00FFFF;">Cian
                            </option>
                        </select>

                        <label for="talles">Talles:</label>
                        <select id="talles" name="talles" required>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>

                        <div class="guia">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path
                                    d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" />
                            </svg>
                            <p>Guía de Talles</p>
                        </div>

                        <input type="submit" value="Añadir al Carrito">
                    </div>
            </div>

            <div class="envio">
                <p>ENVIO GRATIS APARTIR DE $29.999</p>
                <p>¡PAGA HASTA 3 CUOTAS SIN INTERÉS!</p>
                <p>DEVOLUCIÓN GRATIS, ¿NO ES TU TALLE? PODES DEVOLVERLO EN UN PLAZO DE 20 DÍAS</p>
            </div>

        </div>

    </main>

    <footer>
        <section class="section-footer">
            <div class="div-footer">
                <div class="tarjetas">
                    <h4>Pagos</h4>
                    <img src="img/visa.png" alt="">
                    <img src="img/mastercard.png" alt="">
                    <img src="img/paypal.png" alt="">
                    <img src="img/banelco.png" alt="">
                    <img src="img/tarjeta-naranja.png" alt="">
                    <img src="img/mercadopago.png" alt="">
                    <img src="img/pagofacil.png" alt="">
                    <img src="img/rapipago.png" alt="">
                    <img src="img/oca.png" alt="">
                </div>
                <div class="atajo">
                    <h4>Menú</h4>
                    <a href="">HOME</a>
                    <a href="">PRODUCTOS</a>
                    <a href="">ARMA TU OUTFIT</a>
                    <a href="">EXCLUSIVIDAD CLIENTES VIP</a>
                    <a href="">INDUMENTARIA MUNDIAL</a>
                    <a href="">REDES</a>
                    <a href="">PREGUNTAS FRECUENTES</a>
                </div>
                <div class="sede">
                    <h4>Contactános</h4>
                    <p>ventas@venenojujuy.com.ar</p>
                    <p>Lavalle Nº154, San Salvador de Jujuy, Argentina</p>
                </div>
                <div class="seguinos">
                    <h4>Seguinos en</h4>
                    <a href=""><img src="img/facebook.png" alt=""></a>
                    <a href=""><img src="img/instagram.png" alt=""></a>
                    <a href=""><img src="img/twitter.png" alt=""></a>
                </div>
            </div>
        </section>
        <div class="div-copyrigth">
            <strong class="copyrigth">2023 Veneno | Todos los derechos reservados</strong>
        </div>
    </footer>


</body>

</html>